@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 7rem; /* Padding padrão para telas grandes */
  display: flex;
  flex-direction: column;
}

/* Média query para telas pequenas (ex: celulares em modo retrato) */
@media (max-width: 767px) {
  body {
    padding: 0rem; /* Remove o padding em telas pequenas */
  }
}

/* Média query para telas médias (ex: tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 0rem; /* Remove o padding em tablets */
  }
}

